[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=chidikenwandu
Group=chidikenwandu
WorkingDirectory=/home/chidikenwandu/app/src/
Environment="PATH=/home/chidikenwandu/app/venv/bin"
EnvironmentFile=/home/chidikenwandu/.env
ExecStart=/home/chidikenwandu/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target